# Node
node_modules/
dist/
.angular/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Environment
.env
*.env.local

# Docker
*.tar

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
