version: "3.6"
services:
  wireguard:
    image: wireguardui:latest
    build:
      context: .
      dockerfile: ./Dockerfile    
    container_name: wireguard
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - SALT=123456789
      - SECRET_KEY=123456789
    ports:
      - 51820:51820/udp
      - 8000:8000/tcp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
