{% extends "blank.html" %} 
{% block card %} 
<form  action="{{ url_for_security('login') }}" method="POST" name="login_user_form" novalidate>
  {{ login_user_form.hidden_tag() }}
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
    {{ render.field(login_user_form.username, placeholder="Account") }}
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
    {{ render.field(login_user_form.password) }}
  </div>
  <div class="mb-3 text-start">
  {{ render.field_switch(login_user_form.remember)}}
  </div>
 <div class="d-grid gap-2">{{ render.button(login_user_form.submit) }}</div>
</form>
{% include "security/_menu.html" %} 
{% endblock %}
