<!-- Modal new client -->
<div class="modal fade" id="modal_new_client">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-6 shadow">
    <form name="frm_new_client" id="frm_new_client">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">New client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
      </div>
      <div class="modal-body py-0">
          {{ form_client.hidden_tag() }}
          <div class="modal-body">
            <div class="form-group">
              {{ render.field_with_label(form_client.name) }}
            </div>
            <div class="form-group">
              {{ render.field_with_label(form_client.email) }}
            </div>
            <div class="form-group">
              {{ render.field_with_label_tagin(form_client.allocated_ips)}}
            </div>
            <div class="form-group">
              {{ render.field_with_label_tagin(form_client.allowed_ips)}}
            </div>
            <div class="mt-2">
              {{ render.field_switch(form_client.use_server_dns)}}
            </div>
            <div class="mt-2">
            {{ render.field_switch(form_client.enabled)}}
            </div>
          </div>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" data-bs-dismiss="modal">Cancel</button>
        {{ render.button(form_client.submit, class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 ") }}
      </div>
    </form>      
    </div>
  </div>
</div>

<!-- Modal service -->
<div class="modal fade" id="modal_wg_service">
  <div class="modal-dialog">
    <div class="modal-content rounded-6 shadow">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Wireguard service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
      </div>
      <div class="modal-body"></div>
      <div id="modal_wg_service_alert"></div>
      <div class="modal-footer flex-nowrap p-0">
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 btn-danger" id="apply_wg_service_confirm" >Apply</button>
        <input class="modal-service" type="hidden" name="service">
      </div>
    </div>
  </div>
</div>
