{% import "_macros.html" as render %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block extrameta%}{% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% block title %}<title>{{ SITE_NAME }}</title>{% endblock %}
    {% assets "css_main" -%}<link rel="stylesheet" href="{{ ASSET_URL }}">{%- endassets %}
    {% assets "css_custom" -%}<link rel="stylesheet" href="{{ ASSET_URL }}">{%- endassets %}
    {% block extracss%}{% endblock %}
    {% endblock %}
    </head>
    {% block body %}
    <body>
        <!-- Scripts -->
        {% block header_scripts %}{% endblock %}
        {% block container %}
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar Container -->
                <aside id="sidebar" class="col-auto px-0 {% if g.collapsed %}active{%endif%}">
                {% include "sidebar.html" %}
                </aside>
                <div class="container col p-0">
                {# {% if config["DEBUG"] == True %}{% debug %}{%endif%} #}
                {{ current_user.permissions }}
                {% if current_user.is_authenticated %}
                    <!-- Header -->
                    {%block header%}
                    <header>
                        {% include "navbar.html" %}
                    </header>
                    {% endblock %}
                    <!-- Contains page content -->
                    {%block main%}
                    <main>
                        {{ render.flash_message("first_run")}}
                        {% block content_header %} {% endblock %}
                        {% block content %}{% endblock %}
                    </main>
                    {% endblock %}
                    <!-- Footer -->
                    {%block footer%}
                    <footer class="footer mt-auto bg-body-tertiary">
                        {% include "footer.html" %}
                    </footer>
                    {% endblock %}
                {% else %}
                    <script>window.location.href = "{{ url_for('index.status') }}";</script>        
                {% endif %}
                </div>
            </div>
        </div>
        {% endblock container %}
        <!-- Toast box -->
        {% block taost %}
        {% include "base_toast.html" %}
        {% endblock %}
        <!-- Extra toast -->
        {% block extratoasts %}{% endblock %}
        <!-- Modals-->
        {% block modals %}
        {% include "base_modals.html" %}
        {% endblock %}
        <!-- Extra modals -->
        {% block extramodals %}{% endblock %}
        <!-- Scripts -->
        {% block scripts %}
        {% assets "js_main" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
        {% assets "js_validation" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
        {% assets "js_custom" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
        {% endblock %}
        <!-- Extra scripts -->
        {% block extrascripts %}{% endblock %}  
    </body>
    {% endblock %}
</html>
