{% extends "base.html" %} 
{% block body %}
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    </svg>
    <main class="form-signin w-100 m-auto text-center">
        <h1 class="h3 mb-3 fw-normal" style="font-family:source sans pro">Wireguard UI</h1>
        {% block card %}{% endblock %}
        {%- for category, message in get_flashed_messages(with_categories=true, category_filter=["error","warning","info","message"]) -%}
        <div class="alert alert-warning d-flex align-items-center mt-2" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="width:20px;height:20px;">
                <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
            <div>{{message}}</div>
        </div>
        {%- endfor %}
        <p class="mt-2 text-body-secondary">Powered by <a href="https://github.com/cyr-ius/WireguardUI">{{ SITE_NAME }}</a></p> 
    </main>
   
    {% block extrascripts %}
    {% assets "js_login" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
    {% endblock %}  
</body>
{% endblock body %}
