{% extends "base.html" %}
{% set active_page = "clients" %}
{% block title %}<title>Clients - {{ SITE_NAME }}</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row" id="client-list">
        {% for client in clients_list %}
        <div id="client_{{client.id}}" class="card p-0 m-1" style="max-width: 480px;">
            <div class="overlay" id="paused_{{client.id}}" {% if client.enabled %} style="position:absolute;visibility: hidden;" {%endif%}><i class="paused-client bi-play-btn-fill" style="font-size: 5rem;" onclick="resumeClient('{{client.id}}')"></i></div>
            <div class="row g-0">
                <div class="card-header"><h5><i class="bi bi-person"></i> {{client.name}}</h5></div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-5">
                            <img src="{{ qrcode(client.config) }}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-7">
                            <p class="card-text">
                                <span class="info-box-text"><i class="bi bi-envelope"></i> {{client.email}}</span><br/>
                                <span class="info-box-text"><i class="bi bi-server" style="{{ 'opacity: 1.0' if client.use_server_dns else 'opacity: 0.5' }}"></i>{{ 'DNS enabled' if client.use_server_dns else 'DNS disabled'}}</span><br/>
                            </p>
                            <p class="card-text">
                                <span><strong>IP Allocation</strong><br/>
                                {% set allocated_ips = client.allocated_ips.split(',')%}
                                {% for allocated_ip in allocated_ips %}
                                <small class="badge bg-secondary">{{allocated_ip}}</small></span>
                                {%endfor%}                    
                                </span>
                            </p>
                            <p class="card-text">
                                <span><strong>Allowed IPs</strong><br/>
                                {% set allowed_ips = client.allowed_ips.split(',')%}
                                {% for allowed_ip in allowed_ips %}
                                <small class="badge bg-secondary">{{allowed_ip}}</small></span>
                                {%endfor%}
                            </p>
                            <p class="card-text">
                                <small class="text-muted"><i class="bi bi-clock"></i> Created at {{client.created_at.strftime('%Y/%m/%d %H:%M:%S')}}</small><br/>
                                <small class="text-muted"><i class="bi bi-clock-history"></i> Last updated {{client.updated_at.strftime('%Y/%m/%d %H:%M:%S')}}</small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group">
                            <button onclick="location.href='{{ url_for("index.download", id=client.id) }}'" type="button" class="btn btn-outline-success btn-sm">Download</button>
                            <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal_email_client" data-bs-clientid="{{client.id}}" data-bs-clientname="{{client.name}}">Email</button>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_client" data-bs-clientid="{{client.id}}" data-bs-clientname="{{client.name}}">Edit</button>
                            <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal_pause_client" data-bs-clientid="{{client.id}}" data-bs-clientname="{{client.name}}">Disable</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_remove_client" data-bs-clientid="{{client.id}}" data-bs-clientname="{{client.name}}">Remove</button>
                        </div>   
                    </div>                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extramodals%}
{% include "modal_client.html"%}
{% endblock %}
{% block extrascripts %}
<script>
    function setClientStatus(clientID, status) {
        let data = {"status": status};
        $.queryData({url: '{{url_for("api.wireguard_client_status", id=0)}}'.replace(0, clientID), data:data})
    }

    function resumeClient(clientID) {
        setClientStatus(clientID, true);
        const divElement = document.getElementById("paused_" + clientID);
        divElement.style.visibility = "hidden";
    }

    function pauseClient(clientID) {
        setClientStatus(clientID, false);
        const divElement = document.getElementById("paused_" + clientID);
        divElement.style.visibility = "visible";
    }

    function taginInput(){
        for (const el of document.querySelectorAll('.tagin')) {tagin(el)} 
    }

    // modal_pause_client modal event
    $("#modal_pause_client").on('show.bs.modal', function (event) {
        let button = event.relatedTarget;
        let client_id = button.getAttribute('data-bs-clientid');
        let client_name = button.getAttribute('data-bs-clientname');
        let modal = $(this);
        modal.find('.modal-body').text("You are about to disable client " + client_name);
        modal.find('#pause_client_confirm').val(client_id);
    })

    // pause_client_confirm button event
    $("#pause_client_confirm").on('click', function (event) {
        let client_id = $(this).val();
        pauseClient(client_id);
        $("#modal_pause_client").modal('hide');
    });

    // modal_remove_client modal event
    $("#modal_remove_client").on('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const client_id = button.getAttribute('data-bs-clientid');
        const client_name = button.getAttribute('data-bs-clientname');
        const modal = $(this);
        modal.find('.modal-body').text("You are about to remove client " + client_name);
        modal.find('#remove_client_confirm').val(client_id);
    })

    // remove_client_confirm button event
    $("#remove_client_confirm").on('click', function (event) {
        let client_id = $(this).val();
        success = function(data) {
            $("#modal_remove_client").modal('hide');
            const divElement = document.getElementById('client_' + client_id);
            divElement.style.display = "none";
        }        
        $.queryData({method: 'DELETE', url: '{{url_for("api.client", id=0)}}'.replace(0, client_id), success: success})
    });

    // Edit client modal event
    $("#modal_edit_client").on('shown.bs.modal', function (event) {
        let modal = $(this);
        let button = event.relatedTarget;
        let client_id = button.getAttribute('data-bs-clientid');     
        $(".tagin-wrapper").remove()
        success = function (data) {
            modal.find(".modal-title").text("Edit " + data.name);
            modal.find("#id").val(data.id);
            modal.find("#name").val(data.name);
            modal.find("#email").val(data.email);
            modal.find("#allocated_ips").val(data.allocated_ips);
            modal.find("#allowed_ips").val(data.allowed_ips);
            modal.find("#use_server_dns").prop("checked", data.use_server_dns);
            modal.find("#enabled").prop("checked", data.enabled);
            for (const el of document.querySelectorAll('.tagin')) {tagin(el)} 
        },
        $.queryData({method: 'GET', url: '{{ url_for("api.client", id=0) }}'.replace(0, client_id), success: success})
    });

    // Mail modal event
    $("#modal_email_client").on('show.bs.modal', function (event) {
        let modal = $(this);
        const button = event.relatedTarget;
        const client_id = button.getAttribute('data-bs-clientid');
        const client_name = button.getAttribute('data-bs-clientname');
        modal.find("#id").val(client_id);
    })


    // submitEditClient function for updating an existing client
    function submitEditClient(form) {
        let data = $(form).serializeObject({"checkboxesAsBools":true});
        success = function(data) {
            $("#modal_edit_client").modal('hide');
            location.reload();
        },
        $.queryData({method: 'PUT', url: '{{url_for("api.client", id=0)}}'.replace(0, form.id.value), data:data, success: success})
    }

    // submitEmailClient function for sending an email to the client with the configuration
    function submitEmailClient(form) {
        let data = {"id": form.id.value, "email": form.email.value};
        success = function(data) {
            $("#modal_email_client").modal('hide');
        }        
        $.queryData({method: 'POST', url: '{{url_for("api.wireguard_send_email", id=0)}}'.replace(0,form.id.value), data:data, success: success})
    }

    // submitHandler
    function submitHandler(form) {
        const formId = $(form).attr('id');
        if (formId === "frm_edit_client") {
            submitEditClient(form);
        }else if (formId === "frm_email_client") {
            submitEmailClient(form);
        }
    }

    $.validator.setDefaults({
        submitHandler: function (form) {
            submitHandler(form);
        }
    });

    // Edit client form validation
    $("#frm_edit_client").validate({
        rules: {
            name: {
                required: true,
            },
            email: {
                required: true,
                email: true,
            },
        },
        messages: {
            name: {
                required: "Please enter a name"
            },
            email: {
                required: "Please enter an email address",
                email: "Please enter a valid email address"
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    // Email client form validation
    $("#frm_email_client").validate({
        rules: {
            email: {
                required: true,
                email: true,
            },
        },
        messages: {
            email: {
                required: "Please enter an email address",
                email: "Please enter a valid email address"
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }

    });
</script>
{% endblock%}
