{% extends "base.html" %}
{% set active_page = "profile" %}
{% block title %}<title>My Profile - {{ SITE_NAME }}</title>{% endblock %}
{% block content %}
 <!-- Main content -->
<div class="container">
    <nav class="nav nav-tabs" id="tablist" role="tablist">
        <a class="nav-link {% if request.path == url_for('user.profile') %}active{% endif%}" href="{{ url_for('user.profile') }}">Personal Information</a>
        <a class="nav-link {% if request.path == url_for_security('change_password') %}active{% endif%}" href="{{ url_for_security('change_password') }}">Change Password</a>
        <a class="nav-link {% if request.path == url_for_security('two_factor_setup') %}active{% endif%}" href="{{ url_for_security('two_factor_setup') }}">Authentication TOTP</a>
        <a class="nav-link {% if request.path == url_for_security('wan_register') %}active{% endif%}" href="{{ url_for_security('wan_register') }}">WebAuthn</a>
        {% if current_user.has_role('admin') %}
        <a class="nav-link {% if request.path == url_for('user.advanced') %}active{% endif%}" href="{{ url_for('user.advanced') }}">Advanced settings</a>
        {% endif%}
    </nav>    
    <div class="tab-content">
        <div class="tab-pane fade show active mt-1" id="tabs-personal" role="tabpanel">
        {% block tabcontent %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
