
{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %}<title>Global settings - {{ SITE_NAME }}</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form role="form" id="frm_global_settings" name="frm_global_settings" method="POST" novalidate>
            {{ form.hidden_tag() }}                      
            <div class="card card-primary">
                <div class="card-header"><span class="fs-5">Wireguard Global Settings</span></div>
                <div class="card-body">
                    <div class="form-group">
                        {{ form.endpoint_address.label(class_="control-label") }}
                        <div class="input-group input-group">
                            {{ form.endpoint_address(class_="form-control is-invalid" if form.endpoint_address.errors else "form-control") }}
                            <span class="input-group-append">
                                <button type="button" class="btn btn-light btn-flat" data-bs-toggle="modal"
                                    data-bs-target="#modal_endpoint_address_suggestion"><i class="nav-icon bi bi-magic"></i> Suggest</button>
                            </span>
                        </div>
                        <div class="invalid-feedback">{{ form.endpoint_address.errors[0] }}</div>
                    </div>
                    <div class="form-group">{{ render.field_with_label_tagin(form.dns_servers)}}</div>
                    <div class="form-group">{{ render.field_with_label(form.mtu)}}</div>
                    <div class="form-group">{{ render.field_with_label(form.persistent_keepalive)}}</div>                        
                    <div class="form-group">{{ render.field_with_label(form.config_file_path)}}</div>
                </div>
                <div class="card-footer">
                {% if g.first_run is false %}
                {{ render.button(form.submit, class="btn btn-primary float-right") }}
                {% else %}
                {{ render.button(form.submit, class="btn btn-primary float-right", value="Create") }}
                {% endif %}
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extramodals %}
<div class="modal fade" id="modal_endpoint_address_suggestion">
    <div class="modal-dialog">
        <div class="modal-content rounded-6 shadow">
            <div class="modal-header">
                <h4 class="modal-title">Endpoint Address Suggestion</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Following is the list of public and local IP addresses for your consideration.</p>
                <select id="ip_suggestion" class="select2" data-bs-placeholder="Select an IP address" style="width: 100%;">
                </select>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btn_use_ip" disabled>Use selected IP address</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
    <script>
        $('#frm_global_settings').unbind();
        $('#frm_global_settings').submit(function(e){
            e.preventDefault();
            let data = $(this).serializeObject({"checkboxesAsBools":true});
            $.queryData({method: 'POST', url: '{{url_for("api.wireguard_setting")}}', data:data})
        });

        // Endpoint IP suggestion modal event
        $("#modal_endpoint_address_suggestion").on('shown.bs.modal', function (e) {
            success = function(data){
                $("#ip_suggestion option").remove();
                $.each(data, function(index, item) {
                    $("#ip_suggestion").append(
                        $("<option></option>")
                            .text(item.ip_address + ' - ' + item.name)
                            .val(item.ip_address)
                    );
                }); 
                document.getElementById("btn_use_ip").disabled = false;
            }
            $.queryData({method: 'GET', url: '{{url_for("api.wireguard_suggest_host_ip_addresses")}}', success:success})
        });

        // Use selected IP address from suggestion form
        $("#btn_use_ip").click(function () {
            var ip = $("#ip_suggestion").select().val();
            $("#endpoint_address").val(ip);
            $("#modal_endpoint_address_suggestion").modal('hide');
        });
    </script>
{% endblock %}