<!-- Sidebar -->
<nav class="d-flex flex-column text-white min-vh-100 align-items-justify px-3">
    <a id="brand" href="/" class="pt-2  text-white text-decoration-none">
    <img id="logo" class="me-3" src="{{ url_for('static', filename='img/logo.png') }}" width="28">
        <span>{{ SITE_NAME }}</span>
    </a>
    <hr style="width:100%;" />
    <ul class="nav nav-pills flex-column mb-auto" id="menu">
        <li class="nav-item">
            <a href="{{ url_for("index.status")}}" class="nav-link align-middle px-0 text-white {% if active_page == "status" %}active{%endif%}">
                <i class="fs-4 bi-newspaper"></i><span class="ms-1 d-sm-inline">Status</span>
            </a>
        </li>      
        {% if current_user.has_role('admin')%}    
        {% if g.first_run is false %}
        <li class="nav-item">
            <a href="{{ url_for("index.clients")}}" class="nav-link align-middle px-0 text-white {% if active_page == "clients" %}active{%endif%}">
                <i class="fs-4 bi-people"></i><span class="ms-1 d-sm-inline">Wireguard Clients</span>
            </a>
        </li>
        {% endif%}
        <li class="nav-item">
            <a href="{{ url_for("index.server")}}" class="nav-link align-middle px-0 text-white {% if active_page == "server" %}active{%endif%}">
                <i class="fs-4 bi-hdd-stack-fill"></i><span class="ms-1 d-sm-inline">Wireguard Server</span>
            </a>
        </li> 
        <li class="nav-item">
            <a href="{{ url_for("index.settings")}}" class="nav-link align-middle px-0 text-white {% if active_page == "settings" %}active{%endif%}">
                <i class="fs-4 bi-gear"></i><span class="ms-1 d-sm-inline">Global Settings</span>
            </a>
        </li>
        {% endif%}
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown dropup">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                {%if current_user.gravatar_url %}
                <img src="{{current_user.gravatar_url}}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                {% else %}
                <i class="bi-person" style="font-size:30px"></i>
                {% endif %}
                <span>{{ current_user.username}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="{{ url_for('user.profile')}}">Profile</a></li>
                <li><a class="dropdown-item" href="{{ url_for_security('change_password')}}">Change Password</a></li>
                <li><a class="dropdown-item" href="{{ url_for_security('two_factor_setup')}}">TOTP</a></li>
                {% if current_user.has_role('admin')%}
                <li><a class="dropdown-item" href="{{ url_for('user.advanced')}}">Advanced settings</a></li>
                {% endif %}
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" onclick="location.href='{{ url_for_security('logout') }}';">Sign out</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</nav>
<!-- /.sidebar -->